<div class="col-md-6 offset-md-3">
    <h3>Insert Employee Account Details</h3>
    <div class="my-container">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Employee ID</label>
            <input type="text" class="form-control" id="employee_id"
               [(ngModel)] = "account.employee_id" name="employee_id">
        </div>
    
        <div class="form-group">
            <label>Pan Number</label>
            <input type="text" class="form-control" id="panNumber"
               [(ngModel)] = "account.panNumber" name="panNumber">
        </div>

        <div class="form-group">
            <label>Primary Bank Account Number</label>
            <input type="text" class="form-control" id="primaryBankAcNum"
               [(ngModel)] = "account.primaryBankAcNum" name="primaryBankAcNum">
        </div>
    
        <div class="form-group">
            <label>Secondary Bank Account Number</label>
            <input type="text" class="form-control" id="secondaryBankAcNum"
               [(ngModel)] = "account.secondaryBankAcNum" name="secondaryBankAcNum">
        </div>
        
        <button class="btn btn-success" type="submit"> Submit </button>    
    </form>
    </div>
    </div>
