<h3>View Employee Details</h3>
<div>
    <div>
        <label><b>User ID</b></label> {{employee.userId}} <!--two way data binding -->
    </div>
    <div>
        <label><b>Employee ID</b></label> {{employee.employeeId}}
    </div>
    <div>
        <label><b>Calling Name</b></label> {{employee.userCallName}}
    </div>
    <div>
        <label><b>User Name</b></label> {{employee.userName}}
    </div>
    <div>
        <label><b>User Password</b></label> {{employee.userPassword}}
    </div>
    <div>
        <label><b>User Role Id</b></label> {{employee.userRoleID}}
    </div>
</div>
