<div class="col-md-6 offset-md-3">
    <h3>Insert Employee Job Details</h3>
  
    <div class="my-container">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Employee ID</label>
          <input
            type="text"
            class="form-control"
            id="employeeId"
            [(ngModel)]="Job.employeeId"
            name="employeeId"
          />
        </div>
  
        <div class="form-group">
          <label>Assign Date</label>
          <input
            type="date"
            class="form-control"
            id="assignDate"
            [(ngModel)]="Job.assignDate"
            name="assignDate"
          />
        </div>
  
        <!-- <div class="form-group">
            <label>Assign Job ID</label>
                <select name="assignJobdropdown"  [(ngModel)]="Job.assignJobId">
                <option>Assign Job</option>
                <option [ngValue]="jobs.assignJobId" *ngFor="let jobs  Job" >{{jobs.assignJobId}}</option>
              </select>
          </div> -->

          <div class="form-group">
            <label>Assign Job ID</label>
            <input
              type="text"
              class="form-control"
              id="assignJobId"
              [(ngModel)]="Job.assignJobId"
              name="assignJobId"
            />
          </div>
  
        <div class="form-group">
          <label>Assign Job Status</label>
          <input
            type="text"
            class="form-control"
            id="assignJobStatus"
            [(ngModel)]="Job.assignJobStatus"
            name="assignJobStatus"
          />
        </div>
  
        <div class="form-group">
            <label>Assign Job Urgency</label>
            <input
              type="text"
              class="form-control"
              id="assignJobUrgency"
              [(ngModel)]="Job.assignJobUrgency"
              name="assignJobUrgency"
            />
          </div>

          <!-- <div class="form-group">
            <label>Assign To Employee ID</label>
                <select name="userAssignToEmpIdDropdown"  [(ngModel)]="Job.assignToEmpId">
                <option>Assign Job</option>
                <option [ngValue]="jobs.assignToEmpId" *ngFor="let jobs  Job" >{{jobs.assignToEmpId}}</option>
              </select>
          </div> -->

          <div class="form-group">
            <label>Assign To Employee ID</label>
            <input
              type="text"
              class="form-control"
              id="assignToEmpId"
              [(ngModel)]="Job.assignToEmpId"
              name="assignToEmpId"
            />
          </div>

        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>
  </div>
  