.form-group{
    background-color: #ffffff;
      width: 500px;
      height: 100px;
}

.form{
    background-color: #5a9eeb;
    div {
        background-color: #5a9eeb;
          padding: 2rem;
          font-size: 1.25rem;
        }
      }