<div class="col-md-6 offset-md-3">
  <h3>Insert Employee Details</h3>

  <div class="my-container">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Employee ID</label>
        <input
          type="text"
          class="form-control"
          id="employeeId"
          [(ngModel)]="employee.employeeId"
          name="employeeId"
        />
      </div>

      <div class="form-group">
        <label>Call Name</label>
        <input
          type="text"
          class="form-control"
          id="userCallName"
          [(ngModel)]="employee.userCallName"
          name="userCallName"
        />
      </div>

      <div class="form-group">
        <label>User Name</label>
        <input
          type="text"
          class="form-control"
          id="userName"
          [(ngModel)]="employee.userName"
          name="userName"
        />
      </div>

      <div class="form-group">
        <label>User Password</label>
        <input
          type="password"
          class="form-control"
          id="userPassword"
          [(ngModel)]="employee.userPassword"
          name="userPassword"
        />
      </div>

      <div class="form-group">
        <label>User Role</label>


          <select name="userRoledropdown"  [(ngModel)]="employee.userRoleID">
            <option>Select your role</option>
            <option [ngValue]="role.userRoleID" *ngFor="let role of userRoles" >{{role.userRole}}</option>
          </select>

          <!-- <div class="form-group">
            <label>LocationName</label>
            <select  class="form-control" [(ngModel)]="personal.location_id" name="myDropdown">
            <option>Select your location</option>
            <option [value]="item.location_id" *ngFor="let item of dropdownValues">{{item.location_name}}</option>
            </select>
         </div> -->

        <!-- <input type="drop-down" class="form-control" id="userRoleID"
           [(ngModel)] = "employee.userRoleID" name="userRoleID"> -->
      </div>

      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>
