<h2>User Employee List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Employee ID</th>
            <th>Calling Name</th>
            <th>User Name</th>
            <th>User Password</th>
            <th>User Role Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employeeuser of employees">
            <td>{{employeeuser.userId}}</td>
            <td>{{employeeuser.employeeId}}</td>
            <td>{{employeeuser.userCallName}}</td>
            <td>{{employeeuser.userName}}</td>
            <td>{{employeeuser.userPassword}}</td>
            <td>{{employeeuser.userRoleID}}</td>
            <td>
                <button (click)="updateEmployeeUser(employeeuser.userId)" class="btn btn-info">Update</button>
                <button (click)="employeeDetails(employeeuser.userId)" class="btn btn-info" style="margin-left: 10px">View</button>
                <button (click)="deleteEmployeeUser(employeeuser.userId)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            </td>
        </tr>
    </tbody>

</table>

