<div class="col-md-6 offset-md-3">
    <h3>Insert Employee Office Details</h3>
    <div class="my-container">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Employee ID</label>
            <input type="text" class="form-control" id="employee_id"
            [(ngModel)] = "empId" readonly="true" name="employee_id">
        </div>
    
        <div class="form-group">
            <label>Date Of Joining</label>
            <input type="date" class="form-control" id="dateOfJoining"
               [(ngModel)] = "officeDetails.dateOfJoining" name="dateOfJoining">
        </div>
    
        <!-- <div class="form-group">
            <label>Employee Status</label>
            <input type="text" class="form-control" id="employeeStatus"
            [(ngModel)] = "officeDetails.employeeStatus" name="employeeStatus">
            
        </div> -->

        
        <div>
            <!-- //dropdown with hardcoded -->
            <label for="employeeStatus">Employee Status:</label><br/>
            <select id="employeeStatus" name="employeeStatus" [(ngModel)]="officeDetails.employeeStatus">
              <option *ngFor="let status of employeeStatuses" [value]="status.id">{{ status.name }}</option>
            </select>
          </div>

        <!-- <div class="form-group">
            <label>Employee Type</label>
            <input type="text" class="form-control" id="employeeType"
            [(ngModel)] = "officeDetails.employeeType" name="employeeType">
        </div> -->

        <div>
             <!-- //dropdown with hardcoded -->
            <label for="employeeType">Employee Type</label><br/>
            <select id="employeeType" name="employeeType" [(ngModel)]="officeDetails.employeeType">
              <option *ngFor="let types of employeeTypes" [value]="types.id">{{ types.name }}</option>
            </select>
          </div>
    
        <div class="form-group">
            <label>Base Branch Name</label><br/>
            <select name="baseBranchIddropdown"  [(ngModel)]="officeDetails.baseBranchId">
                <option>Select your Base Branch</option>
                <option [ngValue]="officeDetails.branchId" *ngFor="let officeDetails of baseBranch" >{{officeDetails.branchName}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Deputed Location ID</label><br/>
            <select name="deputedLocationId"  [(ngModel)]="officeDetails.deputedLocationId">
                <option>Select your deputedLocationId</option>
                <option [ngValue]="officeDetails.locationId" *ngFor="let officeDetails of tpcsLocation" >{{officeDetails.location}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Supervisor Name</label><br/>
            <select name="supervisorIddropdown"  [(ngModel)]="officeDetails.supervisorId">
                <option>Select your Supervisor ID</option>
                <option [ngValue]="officeDetails.userId" *ngFor="let officeDetails of supervisor" >{{officeDetails.userName}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Grade ID</label><br/>
            <select name="gradeIddropdown"  [(ngModel)]="officeDetails.gradeId">
                <option>Select your Grade ID</option>
                <option [ngValue]="officeDetails.gradeId" *ngFor="let officeDetails of tpcsGrade" >{{officeDetails.gradeName}}</option>
            </select>
        </div>


        <div class="form-group">
            <label>Sub Iou ID</label><br/>
            <select name="subIouIddropdown"  [(ngModel)]="officeDetails.subIouId">
                <option>Select your SubIouId ID</option>
                <option [ngValue]="officeDetails.subIouId" *ngFor="let officeDetails of subIou" >{{officeDetails.subIouName}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Business Unit</label><br/>
            <select name="parentIouIddropdown"  [(ngModel)]="officeDetails.parentIouId">
                <option>Select your ParentIou ID</option>
                <option [ngValue]="officeDetails.parentIouId" *ngFor="let officeDetails of parentDetails" >{{officeDetails.parentName}}</option>
            </select>
        </div>
        
        <button class="btn btn-success" type="submit"> Submit </button>    
    </form>
    </div>
    </div>
